<!-- Home押したとき -->
<!-- Usersからshow押したとき -->

<%= render 'books/error', books: @book %>

<div class="container">
  <div class="row">
    <!-- 左カラム -->
    <div class="col-md-3">
      <h1>User info</h1>

      <!-- プロフィール画像：表示対象ユーザー（@user） -->
      <%= link_to user_path(@user) do %>
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image.variant(resize_to_limit: [100, 100]) %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "100x100" %>
        <% end %>
      <% end %>

      <!-- ユーザー情報 -->
      <table class="table table-sm">
        <tr>
          <th>name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>

      <!-- 編集ボタン -->
      <%= link_to edit_user_path(@user), class: 'btn btn-outline-secondary w-100 mb-4 text-center' do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>

      <!-- New book投稿フォーム（ログインユーザーのフォーム） -->
      <h1>New book</h1>
      <%= form_with model: Book.new, url: books_path, method: :post, local: true do |f| %>
        <div class="mb-2">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-2">
          <%= f.label :body, "Opinion" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <%= f.submit 'Create Book', class: 'btn btn-success' %>
      <% end %>
    </div>

    <!-- 右カラム：表示中ユーザーの投稿一覧 -->
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Comments</th>
            <th>Like</th> <!-- 👍 いいねカラム -->
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <% if book.user.profile_image.attached? %>
                    <%= image_tag book.user.profile_image.variant(resize_to_limit: [100, 100]) %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', size: "100x100" %>
                  <% end %>
                <% end %>
              </td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
              <td><%= link_to "#{book.book_comments.count} コメント", book_path(book.id) %></td>

              <!-- いいね機能 -->
              <td>
                <% if book.favorited_by?(current_user) %>
                  <%= link_to book_favorite_path(book), method: :delete do %>
                    <i class="fa fa-heart text-danger"></i> <%= book.favorites.count %> いいね
                  <% end %>
                <% else %>
                  <%= link_to book_favorite_path(book), method: :post do %>
                    <i class="fa fa-heart fa-heart-o"></i> <%= book.favorites.count %> いいね
                  <% end %>
                <% end %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
